<nav>
    <div class="site-title">
      <a href="/"><h1>Nomad Hub</h1></a>
    </div>
    <ul>
      <li><a href="/posts">Feed</a></li>
      <li><a href="/posts/create">Create Post</a></li>
      <li><a href="/myaccount">My Account</a></li>
      <li><a href="/posts/search">Search</a></li>
    </ul>
  </nav>